<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Mój blog</title>
    </head>
    <body>
        <div class="container">
            <div class="content">
              <div>
             {% if user.is_authenticated%}
               <h2> <a href="{% url 'news' %}">Dodaj Wpis</a><br/>
                  <a href="{% url 'logout' %}">Logout</a><br /></h2>
             {% else %}
                <h2>   <a href="{% url 'user_login'  %}">Zaloguj się</a><br/></h2>

             {% endif%}
            </div>
                <hr><hr>
            <div>
                {% for user in users %}
                 pokaż wpisy użytkownika : <a href="./user/{{user.username}}"> {{ user.username }} </a> <br/>

                {% endfor %}
            </div>
            <hr><hr>
            {% for wpis in newsy %}
                <p><b>Tytuł: </b>{{ wpis.title }}</p>
                <p>{{wpis.content}}</p>
                <p><b>Wpisy utworzony przez:</b>  {{ wpis.user }}</p>

                <hr/>
            {% endfor %}
            {% block content %}{% endblock %}
            </div>

        </div>
    </body>
</html>