<!DOCTYPE html>
<html>
    <head>

        <title>logowanie</title>
    </head>

    <body>

        <h1>Login</h1>

        <form method="post" action="{% url 'user_login' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="30" />
            <br />
            Password: <input type="password" name="password" value="" size="30" />
            <br />

            <input type="submit" value="zaloguj się" />
        </form>

    </body>
</html>