<!DOCTYPE html>
<html>
<form action="{% url 'wpisywanie'%}" method="post">
    {% csrf_token %}
	Your name: <br />
	 <input type="text" name="user" /><br />
    Title:<br />
	 <input type="text" name="title" /><br />
	Text: <br />
	<textarea rows="4" cols="50" name="text"></textarea><br />
	<input type="submit" value="Dodaj" />
</form>
</html>