<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Moja Strona</title>
    </head>
    <body>
        <div class="container">
            <div class="content">
            {% for wpis in wpisy %}
                <p>{{ wpis.title }}</p>
                <p>By {{ wpis.user }}</p>
                <p>Published {{ wpis.published|date:"F j, Y" }}</p>
                <p>Treść {{ wpis.content }}</p>
            {% endfor %}
            {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>